<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="rec.css">
    <title>Document</title>
</head>
<body>
    <p>Recipes</p>
    <h1><%=recipes%></h1>
    <table>
        <!-- <% for(var i=0; i < recipes.length; i++) { %>
            <tr>
            <td><%= recipes[i].Recipe_Id %></td>
            <td><%= recipes[i].Recipe_Name %></td>
            <td><%= recipes[i].Step_1 %></td>
            <td><%= recipes[i].Step_2 %></td>
            <td><%= recipes[i].Step_3 %></td>
            <td><%= recipes[i].Step_4 %></td>
            </tr>
        <% } %> -->
        <!-- <tr>
            <td><%=recipes[0].Recipe_Id></td>
            <td><%=recipes[1].Recipe_Id></td>
            <td><%=recipes[2].Recipe_Id></td>
        </tr> -->
    </table>
</body>
</html>